$content-header-color: $text-color !default;
$content-header-link-color: $text-color !default;
$content-header-link-color-hover: $color-primary;

$content-description-color: $text-color-light !default;

$content-meta-font-size: 0.8em;
$content-meta-color: $text-color-light !default;

@mixin content-header (
	$color: $content-header-color
	$link-color: $content-header-link-color
	$link-color-hover: $content-header-link-color-hover) {
	.header {
		color: $color;
		margin: 0em;

		& a {
			color: $color;

			&:hover {
				color:
			}
		}
	}
}

@mixin content-description (
	$color: $content-description-color ) {
	> .description {
		clear: both;
		color: $color;

		+ .meta, +.description {
			margin-top: 0.6em;
		}
	}
}

@mixin content-paragraph () {
	> p {
		margin: 0em 0em 0.5em;

		&:last-child {
			margin-bottom: 0em;
		}
	}
}

@mixin content-meta (
	$font-size: $content-meta-font-size,
	$color: $content-meta-color) {
	.meta {
		font-size: $font-size;
		color: $color;

		* {
			margin-right: 0.3em;

			&:last-child {
				margin-right: 0em;
			}
		}

		[class*="right floated"] {
			margin-right: 0em;
			margin-left: 0.3em;

			&:first-child {
				margin-left: 0em;
			}
		}
	}
}

@mixin content-links () {
	a {
		color: '';
		transition: color 0.2s ease;

		&:hover {
			color: '';
		}
	}
}