// vertically align into the unkown
@mixin ghostVerticalAlign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}

// Helper mixin for offset positioning
// In response to the following article:
// http://hugogiraudel.com/2013/08/05/offsets-sass-mixin/

$position-default-top:    null !default;
$position-default-right:  null !default;
$position-default-bottom: null !default;
$position-default-left:   null !default;

// @private
@mixin _position($type,
  $top: $position-default-top,
  $right: $position-default-right,
  $bottom: $position-default-bottom,
  $left: $position-default-left) {
  $allowed_types: 'absolute' 'relative' 'fixed';

  @if not index($allowed_types, $type) {
    @warn "Unknow position: #{$type}.";
  }

  position: $type;
  @each $data in top $top, right $right, bottom $bottom, left $left {
    // Because of null value to default, if a position argument (eg `$top`) is not set,
    // Sass does not output the property.
    // Thus, values like 12px, 23em, -4rem, inherit or initial are accepted.
    #{nth($data, 1)}: nth($data, 2);
  }
}

@mixin absolute($top: $position-default-top,
  $right: $position-default-right,
  $bottom: $position-default-bottom,
  $left: $position-default-left) {
  @include _position(absolute, $top, $right, $bottom, $left);
}

@mixin relative($top: $position-default-top,
  $right: $position-default-right,
  $bottom: $position-default-bottom,
  $left: $position-default-left) {
  @include _position(relative, $top, $right, $bottom, $left);
}

@mixin fixed($top: $position-default-top,
  $right: $position-default-right,
  $bottom: $position-default-bottom,
  $left: $position-default-left) {
  @include _position(fixed, $top, $right, $bottom, $left);
}