$shadow-z1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-z2: 0 3px 6px rgba(0,0,0, .16), 0 3px 6px rgba(0,0,0, .23);
$shadow-z3: 0 10px 20px rgba(0,0,0, .19), 0 6px 6px rgba(0,0,0, .23);
$shadow-z4: 0 14px 28px rgba(0,0,0, .25), 0 10px 10px rgba(0,0,0, .22);
$shadow-z5: 0 19px 38px rgba(0,0,0, .30), 0 15px 12px rgba(0,0,0, .22);

@mixin shadow-level($level: 1, $inset: false) {
	@if $level == 1 {
		@include box-shadow($shadow-z1);
		@if $inset == true {
			box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
		}
	}
	@if $level == 2 {
		box-shadow: 0 3px 6px rgba(0,0,0, .16), 0 3px 6px rgba(0,0,0, .23);
	}
	@if $level == 3 {
		box-shadow: 0 10px 20px rgba(0,0,0, .19), 0 6px 6px rgba(0,0,0, .23);
	}
	@if $level == 4 {
		box-shadow: 0 14px 28px rgba(0,0,0, .25), 0 10px 10px rgba(0,0,0, .22);
	}
	@if $level == 5 {
		box-shadow: 0 19px 38px rgba(0,0,0, .30), 0 15px 12px rgba(0,0,0, .22);
	}
}