@mixin sizes($mini: $font-size-mini,
	$tiny: $font-size-tiny,
	$small: $font-size-small,
	$tiny: $font-size-tiny,
	$large: $font-size-large,
	$big: $font-size-big,
	$huge: $font-size-huge,
	$massive: $font-size-massive) {
	&.mini { font-size: $mini; }
  &.tiny { font-size: $tiny; }
  &.small { font-size: $small; }
  &.large { font-size: $large; }
  &.big { font-size: $big; }
  &.huge { font-size: $huge; }
  &.massive { font-size: $massive; }
}