@mixin wrapper($margin: false, $padding: false, $background: white, $radius: 0px, $shadow: false) {
	width: 100%;
  position: relative;
  display: block;
  @if $margin != false {
    margin: $margin;
  }
  @if $padding != false {
		padding: $padding;
  }
  min-height: 0px;
  background: $background;
  border-radius: $radius;
  @if $shadow != false {
		@include box-shadow($shadow);
  }
}