$theme-text-color: rgba(0, 0, 0, 0.8);
$theme-text-color-light: rgba(0, 0, 0, 0.6);
$theme-text-color-subtle: rgba(0, 0, 0, 0.4);

$theme-color-primary: #e2011b;
$theme-color-primary-contrast: white;

$theme-border-radius: 4px;

$theme-main-menu-bg: white;
$theme-main-menu-color: $theme-color-primary;

.theme-text-primary {
	color: #e2011b;
}