/*******************************
            Misc
*******************************/

// $page-wrapper-bg-color: #f3f3f4;


/*******************************
            Base
*******************************/

/*-------------------
	Grid
--------------------*/

$baseline: $line-height-computed;
$gutter: $grid-gutter-width;


/*-------------------
	Typography
--------------------*/

// $line-height-base: 1.5rem;

$font-size-h1:            2.25rem;
$font-size-h2:            1.875rem;
$font-size-h3:            1.5rem;
$font-size-h4:            1.25rem;
$font-size-h5:            1.125rem;
$font-size-h6:            0.875rem;

$font-size-mini: 0.625rem; // 10px
$font-size-tiny: 0.75rem; // 12px
$font-size-small: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-large: 1.125rem; // 18px
$font-size-big: 1.25rem; // 20px
$font-size-huge: 1.375rem; // 22px
$font-size-massive: 1.5rem; // 24x

$font-color: $text-color;
$font-color-subtle: #7a7a7a;


/*-------------------
	Components
--------------------*/
// $padding-base-vertical:     0.75em;
// $padding-base-horizontal:   1.5em;

// $padding-large-vertical:     1em;
// $padding-large-horizontal:   2em;

// $padding-small-vertical:     0.5em;
// $padding-small-horizontal:   1em;

$base-radius: 4px;


/*-------------------
	Animations
--------------------*/
$basic-transition: all 0.4s;


/*-------------------
	Colors
--------------------*/

// Social Colors
$facebook: #3b5998;
$twitter: #4092cc;
$google: #d34836;
$youtube: #cc181e;
$instagram: #49769c;
$pinterest: #00aced;
$rss: #ff6600;

/*-------------------
	Shadows
--------------------*/
$shadow-z1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-z2: 0 3px 6px rgba(0,0,0, .16), 0 3px 6px rgba(0,0,0, .23);
$shadow-z3: 0 10px 20px rgba(0,0,0, .19), 0 6px 6px rgba(0,0,0, .23);
$shadow-z4: 0 14px 28px rgba(0,0,0, .25), 0 10px 10px rgba(0,0,0, .22);
$shadow-z5: 0 19px 38px rgba(0,0,0, .30), 0 15px 12px rgba(0,0,0, .22);

/*******************************
  UI
*******************************/

/*--------------
	Button
---------------*/
$button-font-family: $font-family-sans-serif;
$button-font-weight: bold;
$button-border-radius: $base-radius;

// Padding
$button-base-padding-horizontal: 1.5em;
$button-base-padding-vertical: 0.75em;

$button-compact-padding-horizontal: .75em;
$button-compact-padding-vertical: 0.5em;

// Colors
$button-default-color: rgba(0, 0, 0, 0.6);
$button-default-bg-color: #e0e0e0;


/*--------------
	Feed
---------------*/
// $feed-font-size: $font-size-small; //$font-size-base;
// $feed-color: $text-color;
// $feed-subtle-color: $text-color-subtle;
// $feed-extra-border: 3px solid rgba(0, 0, 0, 0.2);

/*--------------
	Header
---------------*/
// $header-bg-color: white;
// $header-contrast-bg-color: $gray-dark;
// $header-contrast-text-color: white;
// $header-line-height: 3rem;
// $header-padding: 0 1.5rem;


/*--------------
	Label
---------------*/
// $label-color: rgba(0, 0, 0, 0.6);
// $label-color-hover: rgba(0, 0, 0, 0.6);
// $label-bg-color: #e8e8e8;


/*--------------
	Menu
---------------*/
// $switcher-menu-color: rgba(0, 0, 0, 0.8);
// $switcher-menu-shadow-color: black;


/*--------------
	Navbar
---------------*/
// $navbar-static-top-height: $baseline * 3;

// $nav-head-bg-color: white;
// $nav-head-shadow-color: $gray-lighter;

// $nav-head-link-size: 24px;
// $nav-head-link-color: $gray-dark;
// $nav-head-active-link-bg-color: $dropdown-link-hover-bg;


/*--------------
	Segment
---------------*/
// $segment-bg-color: #fff;
// $segment-border-radius: $base-radius;
// $segment-margin: 0 0 1.5rem;
// $segment-padding: 1.5rem;


/*--------------
	Sidebar
---------------*/
// $navbar-static-side-width: 220px;
// $navbar-static-side-width-collapsed: 72px;

// $nav-link-size: 14px;
// $nav-link-color: #ddd;
// $nav-link-weight: 600;

// $nav-active-link-text-color: white;
// $nav-active-link-bg-color: $gray-darker;
// $nav-active-link-border-color: white;


/*--------------
	Statistic
---------------*/
// $statistic-color: $text-color;
// $statistic-subtle-color: $text-color-subtle;
$statistic-font-size-mini: 1.5rem;
$statistic-font-size-tiny: 2rem;
$statistic-font-size-small: 2.5rem;
$statistic-font-size-base: 3rem;
$statistic-font-size-large: 4rem;
$statistic-font-size-big: 5rem;
$statistic-font-size-huge: 6rem;
$statistic-font-size-massive: 7rem;