<div class="main-menu">
	<div class="container-fluid">
		<div class="main-menu-label">Connect with us</div>
		<ul class="main-menu-channels">
			<li>
				<a href="#">
					<i class="fa fa-facebook"></i>
					<span>Facebook</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-facebook"></i>
					<span>Facebook</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-facebook"></i>
					<span>Facebook</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-facebook"></i>
					<span>Facebook</span>
				</a>
			</li>
		</ul>
		<ul class="main-menu-list">
			<li class="main-menu-label">Label</li>
			<li><a href="">Menu Item</a></li>
			<li><a href="">Menu Item</a></li>
			<li><a href="">Menu Item</a></li>
			<li><a href="">Menu Item</a></li>
		</ul>
		<ul class="main-menu-list">
			<li class="main-menu-label">Label</li>
			<li><a href="">Menu Item</a></li>
			<li><a href="">Menu Item</a></li>
			<li><a href="">Menu Item</a></li>
			<li><a href="">Menu Item</a></li>
		</ul>
		<ul class="main-menu-legal">
			<li><a href="">Legal Link</a></li>
			<li><a href="">Legal Link</a></li>
		</ul>
	</div>
</div>