<div class="container-fluid">
	<ul class="block-grid-sm-2">
		<li>
			<div class="card">
				<div class="image">
					<img src="/img/content1.png" alt="" class="hover-effect">
					<div class="overlay">
					</div>
					<div class="bottom header-wrapper">
						<img src="/img/content1.png" alt="">
						<div class="header">Title Lorem Ipsum</div>
					</div>
				</div>
				<div class="content">
					<div class="header">Title</div>
					<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusamus ex, magni debitis, nihil.</div>
				</div>
				<div class="extra content">
					<a href="#">999 Teilnehmer</a>
					<span class="right floated reward">Bonuspunkte</span><span class="right floated reward">100 Punkte</span>
				</div>
				<div class="actions">
					<button class="secondary-action-button"><i class="icon fa fa-share-square"></i>share</button>
					<button class="secondary-action-button"><i class="icon fa fa-heart"></i></button>
					<button class="right action-button">Play</button>
				</div>
			</div>
		</li>
	</ul>
	<hr>
	<ul class="list">
		<li>
			<a class="flat card">
				<img src="/img/content1.png" alt="" class="image">
				<div class="content">
					<div class="header">
						Title Lorem Ipsum
					</div>
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque et quo pariatur praesentium repellat laboriosam, dolores veritatis ut natus, fugit ipsum sunt sequi.
					</div>
				</div>
				<div class="extra content">
					<span>1847 Teilnehmer</span>
					<div class="right floated inverted button share-button"><i class="icon fa fa-share-square"></i>share</div>
				</div>
				<span class="indicator hidden-xs">
					<i class="item-icon fa fa-angle-right fa-2x"></i>
				</span>
				<div class="bottom attached primary button visible-xs">
					Start
				</div>
			</a>
		</li>
	</ul>
</div>