.main-menu {
	width: 100%;
	min-height: 100%;
	padding: $line-height-computed $grid-gutter-width;
	background-color: $theme-main-menu-bg;
	color: $theme-main-menu-color;

	a {
		display: block;
		color: $theme-main-menu-color;
		transition: color .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);;

		&:hover {
			text-decoration: none;
			color: black;
		}
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.main-menu-channels, .main-menu-list, .main-menu-legal {
	list-style: none;
	margin-bottom: $line-height-computed;
	padding: 0;
}

.main-menu-channels, .main-menu-list {
	a {
		font-size: 24px;
		font-weight: bold;
	}

	.fa {
		margin-right: .4em;
	}
}

.main-menu-channels {

}

.main-menu-list {

}

.main-menu-legal {

}

@media screen and (min-width: $screen-sm-min) {
	.main-menu-list, .main-menu-legal {
		text-align: center;
	}

	.main-menu-list {
		a {
			font-size: 32px;
		}
	}

	.main-menu-channels {
		display: table;
		width: 100%;
		font-size: 24px;

		> li {
			display: table-cell;
			text-align: center;
		}

		span {
			display: block;
		}
	}

	.main-menu-legal {
		font-size: 20px;
	}

	.main-menu-label {
		font-size: 20px;
		text-align: center;
	}
}