$navbar-font-size: 18px !default;

nav.navbar {
	@include box-shadow($shadow-z1);
	background-color: $theme-color-primary;
	border: none;
	color: $theme-color-primary-contrast;
	border-radius: 0;

	.nav {
		// Default (link)
		> li {
			> a {
				height: $navbar-height;
				color: $theme-color-primary-contrast;
				font-size: $navbar-font-size;
				line-height: 1;
				text-align: center;
				padding: (($navbar-height - $navbar-font-size) / 2) 0;

				&:hover,
				&:focus,
				.open {
					background-color: darken($theme-color-primary, 5%);
				}
			}

			&.active > a {
				color: $theme-color-primary;
				background-color: $theme-color-primary-contrast;
			}
		}

		// Button
		> li.navbar-button, li.navbar-avatar {
			padding: 6px 0;
			width: auto;

			> a {
				height: $navbar-height - 12px;
				padding: (($navbar-height - $navbar-font-size - 12px) / 2) 8px;
				border-radius: $theme-border-radius;
			}
		}

		// Avatar
		> li.navbar-avatar > a {

			padding-left: 0;

			.image {
				@include absolute($top: 0, $left: 0);
				// position: absolute;
				// top: 0;
				height: 30px;
				border-radius: 4px;
				border: 2px solid $theme-color-primary-contrast;
				overflow: hidden;

				img {
					max-height: 100%;
				}
			}

			.points {
				font-size: 16px;
				font-weight: 700;
				line-height: 1;
				margin-left: 40px;
			}
		}

		// Divider
		> li.divider {
			width: auto;
			height: $navbar-font-size;
			margin: (($navbar-height - $navbar-font-size) / 2) 10px;
			border-left: 1px solid rgba($theme-color-primary-contrast, .6);
		}
	}
}

.navbar-mobile {
	@include clearfix();

	> li {
		float: left;
		width: 20%;
	}
}

.navbar-full {
	@include clearfix();
	display: none;

	.nav {
		margin: 0 10px;
		> li {
			width: $navbar-height;
		}
	}

	.navbar-nav.navbar-right:last-child {
		margin-right: 10px;
	}
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;
}

// FIX
@media screen and (max-width: $screen-xs-max) {
	// nav.navbar.navbar-static-top {
	// 	@include fixed(top 0 right 0 left 0);
	// }
}

@media screen and (min-width: $screen-sm-min) {
	.navbar-mobile {
		display: none;
	}

	.navbar-full {
		display: block;
	}
}

@media screen and (min-width: $screen-md-min) {
	.navbar-wrapper {
		max-width: 810px;
		margin: 0 auto;
	}

	.navbar-full .nav {
		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}