$profilebar-bg: $theme-color-primary;
$profilebar-color: $theme-color-primary-contrast;
$profilebar-border: 1px solid rgba($profilebar-color, .5);

$profilebar-avatar-size: 60px;
$profilebar-progress-circle-size: $profilebar-avatar-size;



/*******************************
             Types
*******************************/

/*******************************
	Profilebar
*******************************/

// FIX
#profilebar-region {
	// overflow-y: auto;
}

.profilebar {
	position: relative;
	background-color: $profilebar-bg;
	color: $profilebar-color;
	min-height: 100%;

	section {
		margin-bottom: $line-height-computed;
		padding: 0 $padding-base-horizontal $line-height-computed;
		border-bottom: $profilebar-border;

		&:last-child {
			border-bottom: none;
		}

		> .title {
			text-align: center;
			font-weight: bold;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

/*******************************
	Sections
*******************************/

/*--------------
	Header
---------------*/
	.profilebar-header {
		margin-bottom: $line-height-computed;

		.wrapper {
			position: relative;
			min-height: 80px;
		}
	}

	.profilebar-name {
		margin: 0;
		padding-left: $padding-base-horizontal * 2 + $profilebar-avatar-size;
		line-height: $profilebar-avatar-size / 3 * 2;
		font-weight: bold;
	}

	.profilebar-avatar {
		// 33% inside top picture, 66% outside
		@include absolute($bottom: (-($profilebar-avatar-size / 3 * 2)), $left: $padding-base-horizontal);
		display: inline-block;
		height: $profilebar-avatar-size;
		width: $profilebar-avatar-size;
		border: 2px solid $profilebar-color;
	}

/*--------------
	Stats
---------------*/

	ul.profilebar-stats {
		width: 100%;
		display: table;
		table-layout: fixed;
		border-collapse: collapse;
		margin-bottom: 16px;
		// @include clearfix();
		// list-style-type: none;
		// padding-left: 0;

		li {
			display: table-cell;
			text-align: center;
			padding: $padding-base-vertical 0;
			margin: 0;
			border: {
				top: $profilebar-border;
				bottom: $profilebar-border;
				left: $profilebar-border;
			}

			&:first-child {
				border-left: none
			}

			> .value {
				font-size: 18px;
				font-weight: bold;
			}

			.value ~ .label {
				font-size: 12px;
				margin-top: 0;
			}
		}
	}

/*--------------
	Friends
---------------*/
	section.profilebar-friends {
		ul li {
			@include clearfix();
			margin-bottom: $padding-small-vertical;

			&:last-child {
				margin-bottom: 0;
			}

			> * {
				line-height: 2em;
				display: inline-block;
				float: left;

				&:last-child {
					float: right;
				}
			}
		}

		.avatar {
			border: 1px solid $profilebar-color;
		}
	}

/*******************************
	Misc
*******************************/

.profilebar-link {
	margin-bottom: $line-height-computed;
	text-align: center;

	a {
		color: $profilebar-color;
		// font-weight: bold;
		// text-decoration: underline;
	}
}