<nav class="navbar">
	<div class="navbar-wrapper">
		<ul class="nav navbar-mobile">
			<li class="active"><a href="#" class="profile-toggle"><i class="fa fa-user"></i></a></li>
			<li><a href="#"><i class="fa fa-square"></i></a></li>
			<li><a href="#"><i class="fa fa-trophy"></i></a></li>
			<li><a href="#"><i class="fa fa-globe"></i></a></li>
			<li><a href="#" class="menu-toggle"><i class="fa fa-bars"></i></a></li>
		</ul>
		<div class="navbar-full">
			<ul class="nav navbar-nav">
				<li class="navbar-button visible-sm"><a class="profile-toggle" href="#"><i class="fa fa-user"></i></a></li>
				<li class="divider visible-sm"></li>
				<li class="active"><a href="#"><i class="fa fa-square"></i></a></li>
				<li><a href="#"><i class="fa fa-trophy"></i></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-avatar visible-sm">
					<a href="#" class="profile-toggle">
						<div class="image">
							<img src="https://randomuser.me/api/portraits/med/women/89.jpg" alt="">
						</div>
						<div class="points">7380 Points</div>
					</a>
				</li>
				<li class="divider visible-sm"></li>
				<li class="navbar-button"><a href="#"><i class="fa fa-globe"></i></a></li>
				<li class="navbar-button"><a href="#" class="menu-toggle"><i class="fa fa-bars"></i></a></li>
			</ul>
		</div>
	</div>
</nav>