$button-margin: 0.5em !default;

/*******************************
            Button
*******************************/

.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  @include button-style($button-default-color,  $button-default-bg-color);
  font-family: $button-font-family;
  margin: 0em $button-margin 0em 0em;
  padding: $padding-base-vertical $padding-base-horizontal;
  text-transform: none;
  text-shadow: none;
  font-weight: $button-font-weight;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: none;
  border-radius: $button-border-radius;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  -webkit-tap-highlight-color: transparent;
}


/*-------------------
  Disabled
--------------------*/

.button {
  &.disabled, &.disabled:hover, &.disabled:active {
    cursor: default;
    background-color: #dcddde !important;
    color: rgba(0, 0, 0, 0.5) !important;
    opacity: 0.3 !important;
    background-image: none !important;
    box-shadow: none !important;
    pointer-events: none;
  }
}


/*-------------------
  Fluid, Block
--------------------*/

.button {
  &.fluid, &.block {
    display: block;
    width: 100%;
  }
}




/*******************************
             Types
*******************************/

/*-------------------
  Colors
--------------------*/
.button {
  &.primary { @include button-style(#fff, $brand-primary); }
  &.success { @include button-style(#fff, $brand-success); }
  &.info { @include button-style(#fff, $brand-info); }
  &.warning { @include button-style(#fff, $brand-warning); }
  &.danger { @include button-style(#fff, $brand-danger); }
}


/*-------------------
  Social
--------------------*/

.button {
  &.facebook { @include button-style(#fff, $facebook); }
  &.twitter { @include button-style(#fff, $twitter); }
  &.google { @include button-style(#fff, $google); }
  &.youtube { @include button-style(#fff, $youtube); }
  &.instagram { @include button-style(#fff, $instagram); }
  &.pinterest { @include button-style(#fff, $pinterest); }
  &.rss { @include button-style(#fff, $rss); }
}

/*--------------
  Icon
---------------*/

.button {
  > .icon, > .fa {
    opacity: 0.9;
    margin: 0em 0.5em 0em -0.2em;
    -webkit-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
    vertical-align: baseline;
    color: '';

    &.right {
      margin: 0em -0.2em 0em 0.4em;
    }
  }
}


/*******************************
           Variations
*******************************/


/*-------------------
  Floated
--------------------*/

.button {
  &[class*="left floated"] {
    float: left;
    margin-left: 0em;
    margin-right: $button-margin;
  }

  &[class*="right floated"] {
    float: right;
    margin-right: 0em;
    margin-left: $button-margin;
  }
}


/*-------------------
  Compact
--------------------*/

.button.compact {
  padding: $padding-small-vertical $padding-small-horizontal;
}


/*-------------------
  Sizes
--------------------*/

.button {
  @include sizes;
}


/*-------------------
  Icon Only
--------------------*/

.button.icon {
  padding: $padding-base-vertical;

  > .icon, > .fa {
    opacity: 0.9;
    margin: 0em;
    vertical-align: top;
  }
}


/*-------------------
  Circular
--------------------*/

.button.circular {
  border-radius: 10em;

  > .icon, > .fa {
    width: 1em;
    vertical-align: baseline;
  }
}


/*--------------
  Attached
---------------*/

.button.attached {
  display: block;
  margin: 0em;
  border-radius: 0em;

  &.top {
    border-radius: $base-radius $base-radius 0em 0em;
  }

  &.bottom {
    border-radius: 0em 0em $base-radius $base-radius;
  }

  &.left {
    display: inline-block;
    padding-right: $padding-base-vertical;
    text-align: right;
    border-radius: $base-radius 0em 0em $base-radius;
  }

  &.right {
    display: inline-block;
    padding-left: $padding-base-vertical;
    text-align: left;
    border-radius: 0em $base-radius $base-radius 0em;
  }
}