/*******************************
            Standard
*******************************/


/*--------------
  Card
---------------*/

.card {
  width: 100%;
  max-width: 9999px;
  margin-bottom: 1.5rem;
  // position: relative;
  // display: block;
  min-height: 0px;
  background: $card-bg-color;
  border-radius: $card-border-radius;
  // box-shadow: 0px 0.2em 0px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
  // -webkit-transition: box-shadow 0.2s ease;
  //         transition: box-shadow 0.2s ease;
  z-index: '';

  a {
    cursor: pointer;
  }
}


/*--------------
  Rounded Edges
---------------*/

.card {
  > :first-child {
    border-radius: $card-border-radius  $card-border-radius 0 0;
  }

  > :last-child {
    border-radius: 0 0 $card-border-radius $card-border-radius;
  }
}


/*--------------
  Images
---------------*/

.card {
  > .image {
    display: block;
    position: relative;
    padding: 0em;
    background: rgba(0, 0, 0, 0.05);
    overflow: hidden;

    > img {
      display: block;
      width: 100%;
      height: auto;
      border: none;
      min-height: 5rem;
    }
  }
}


/*--------------
  Content
---------------*/

.card {
  > .content {
    padding: $card-padding;

    &:after {
      display: block;
      content: ' ';
      height: 0px;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }

    > .header {
      display: block;
      margin: 0;
      font-weight: bold;

      &:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }

    > .meta + .description,
      .header + .description {
      margin-top: .75rem;
    }
  }
}


/*--------------
  Description
---------------*/

.card {
  > .content > .description {
    clear: both;
    color: $card-description-color;
  }
}


/*--------------
  Paragraph
---------------*/

.card {
  > .content > p {
    margin: 0 0 .75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


/*--------------
  Meta
---------------*/

.card {
  > .content > .meta {
    font-size: 0.9rem;
    color: $card-meta-color;

    * {
      margin-right: 0.4em;
    }

    &:last-child {
      margin-right: 0;
    }

    [class*="right floated"] {
      margin-right: 0em;
      margin-left: 0.4em;
    }
  }
}


/*--------------
  Links
---------------*/

.card {
  > .content a {
    &.header {
      color: $text-color;

      &:hover {
        color: $link-hover-color;
      }
    }

    &.meta {
      color: $card-meta-color;

      &:hover {
        color: $text-color;
      }
    }
  }
}


/*----------------
  Extra Content
-----------------*/

.card {
  > .extra {
    max-width: 100%;
    min-height: 0em !important;
    position: static;
    background: none;
    width: auto;
    margin: 0;
    padding: $card-padding;
    top: 0em;
    left: 0em;
    color: $card-extra-color;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: color 0.2s ease;
            transition: color 0.2s ease;

    a {
      color: $card-extra-color;

      &:hover {
        color: $text-color;
      }
    }
  }
}


/*--------------
  Floated
---------------*/

.card {
  [class*="left floated"] {
    float: left;
  }

  [class*="right floated"] {
    float: right;
  }
}


/*--------------
  Icon
---------------*/

.card {
  .fa {
    margin-right: 0.4em;
  }
}


/*--------------
  Button
---------------*/
.card {
  > .button:first-child,
  > .button:last-child {
  // margin: 0em -1px -0.2em;
  width: 100%;
  box-shadow: none;
}}