/*******************************
				 Activity Feed
*******************************/

.feed {
	> .event {
		display: table;
		width: 100%;
		margin: 1.5em 0;
		padding-bottom: 1.5em;
		box-shadow: 0 1px rgba(0,0,0,.2);

		&:first-child {
			border-top: 0px;
			margin-top: 0em;
		}

		&:last-child {
			margin-bottom: 0em;
			box-shadow: none;
		}
	}
}


/*******************************
						Content
*******************************/

/* Event Label */
.feed > .event > .label {
	display: table-cell;
	width: 3em;
	height: 3em;
	vertical-align: top;
	text-align: left;

	.icon {
		font-size: 1.5em;
		width: 100%;
		padding: 0.25em;
	}

	img {
		width: 100%;
		height: auto;
		border-radius: 500rem;
	}

	+ .content {
		padding: 0 0 0 1.5em;
	}
}

/* Content */
.feed > .event {
	> .content {
		display: table-cell;
		vertical-align: top;
		text-align: left;
		word-wrap: break-word;
	}

	&:last-child > .content {
		padding-bottom: 0em;
	}
}

/* Link */
.feed > .event > .content a {
	cursor: pointer;
}


/*--------------
	Date
---------------*/

.feed > .event > .content > .date {
	padding: 0em;
	font-weight: normal;
	font-size: .75em;
	font-style: normal;
	line-height: $feed-font-size * 1.5;
	vertical-align: top;
	color: $feed-subtle-color;
}



/*--------------
	Summary
---------------*/

.feed > .event > .content .summary {
	margin: 0em;
	font-weight: bold;
	line-height: 1.5em;

	img {
		display: inline-block;
		width: auto;
		height: 1.5em;
		margin: -0.25em 0.25em 0em 0em;
		border-radius: $base-radius;
		vertical-align: middle;
	}

	.icon {

	}
}


/*--------------
	User
---------------*/

.feed > .event > .content .user {
	display: inline-block;
	font-weight: bold;
	margin-right: 0em;
	vertical-align: baseline;

	img {
		margin: 0 0.25em 0 0em;
		width: auto;
		height: 1.5em;
		vertical-align: middle;

		&.avatar {
			height: $line-height-base;
			margin: 0 0.25em 0 0;
			border-radius: 10em;
			vertical-align: top;
		}
	}
}


/*--------------
	Inline Date
---------------*/

/* Date inside Summary */
.feed > .event > .content .summary > .date {
	float: right;
	font-weight: normal;
	font-size: 0.875em;
	margin: 0em 0em 0em 0.5em;
	padding: 0em;
	color: $feed-subtle-color;
}


/*--------------
	Extra Summary
---------------*/

.feed > .event > .content .extra {
	margin: .75em 0em;
	background: none;
	padding: 0em;

	/* Images */
	&.images img {
		display: inline-block;
		margin: 0em 0.25em 0em 0em;
		height: 7.5em;
	}

	/* Text */
	&.text {
		padding: .75em 1em;
		border-left: $feed-extra-border;
		font-size: 1em;
		max-width: 700px;
		line-height: $line-height-base;
	}
}


/*--------------
	Meta
---------------*/

.feed > .event > .content .meta {
	display: inline-block;
	font-size: 0.875em;
	line-height: $line-height-base;
	vertical-align: top;
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0em;
	color: $feed-subtle-color;

	> * {
		position: relative;
		margin-left: 0.75em;
	}
	> *:after {
		content: '';
		color: rgba(0, 0, 0, 0.2);
		top: 0em;
		left: -1em;
		opacity: 1;
		position: absolute;
		vertical-align: top;
	}

	// .like {
	// 	color: '';
	// 	transition: 0.2s color ease;

	// 	&:hover .icon {
	// 		color: #ff2733;
	// 	}

	// 	&.active .icon {
	// 		color: #ef404a;
	// 	}
	// }

	/* First element */
	> :first-child {
		margin-left: 0em;
	}
	> :first-child::after {
		display: none;
	}

	/* Action */
	a,
	> .icon {
		cursor: pointer;
		opacity: 1;
		color: rgba(0, 0, 0, 0.5);
		transition: color 0.2s ease;
	}
	a:hover,
	a:hover .icon,
	> .icon:hover {
		// color: $text-color;
	}
}


/*******************************
						Variations
*******************************/

.small.feed {
	font-size: $font-size-small;
}
.feed {
	font-size: $font-size-base;
}
.large.feed {
	font-size: $font-size-large;
}


/*--------------
	Boxed Events
---------------*/

.feed.boxed > .event {
	margin: 1.5em 0;
	padding-bottom: 0;
	border-radius: $base-radius;
	box-shadow: none;

	&:first-child {
		margin-top: 0em;
	}

	&:last-child {
		margin-bottom: 0em;
	}

	> .label {
		padding-right: 1.5em;
		width: 4.5em;

		img {
			width: 3rem;
		}
	}

	> .content {
		padding: .75em 1.5em;
		position: relative;
		background-color: white;
		@include shadow-level(1);

		&:before {
			position: absolute;
			display: inline-block;
			border-top: 7px solid transparent;
			border-right: 7px solid #fff;
			border-bottom: 7px solid transparent;
			border-right-color: rgba(0, 0, 0, 0.2);
			left: -8px;
			top: 1em;
			content: '';
		}

		&:after {
			position: absolute;
			display: inline-block;
			border-top: 6px solid transparent;
			border-right: 6px solid #fff;
			border-bottom: 6px solid transparent;
			left: -6px;
			top: 1em;
			content: '';
		}
	}
}