$facebook-color: #3b5998;
$twitter-color: #00aced;
$instagram-color: #517fa4;
$google-color: #dd4b39;

ul.filter.rounded, ul.filter2.rounded {
	li, i {
		border-radius: 18px;
	}
}

ul.filter {
	list-style-type: none;

	li {
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding-left: 40px;
		padding-right: 18px;
		border-radius: 4px;
		border: 3px solid $gray;
		height: 36px;

		&.active.facebook {
			border-color: $facebook-color;

			i {
				background-color: $facebook-color;
			}
		}

		&.active.twitter {
			border-color: $twitter-color;

			i {
				background-color: $twitter-color;
			}
		}

		&.active.instagram {
			border-color: $instagram-color;

			i {
				background-color: $instagram-color;
			}
		}

		&.active.google {
			border-color: $google-color;

			i {
				background-color: $google-color;
			}
		}
	}

	i {
		position: absolute;
		color: white;
		border-radius: 4px;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		top: -3px;
		left: -3px;
		background-color: $gray;
	}

	span {
		line-height: 30px;
		color: #222;
	}
}

ul.filter2 {
	list-style-type: none;

	li {
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding-left: 43px;
		padding-right: 21px;
		border-radius: 4px;
		background-color: $gray;

		&.active.facebook {
			background-color: $facebook-color;

			i {
				background-color: $facebook-color;
			}
		}

		&.active.twitter {
			background-color: $twitter-color;
		}

		&.active.instagram {
			background-color: $instagram-color;
		}

		&.active.google {
			background-color: $google-color;
		}
	}

	i {
		position: absolute;
		color: white;
		border-radius: 4px;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		left: 0;
	}

	span {
		line-height: 36px;
		color: white;
	}
}