/*******************************
					 Variations
*******************************/


/*-------------------
			 Attached
--------------------*/

.attached.header {
	background: $header-bg-color;
	padding: $header-padding;
	box-shadow: none;
	line-height: $header-line-height;

	&:not(.top):not(.bottom) {
		margin-top: 0em;
		margin-bottom: 0em;
		border-top: none;
		border-bottom: none;
		border-radius: 0em;
	}

	&:not(.bottom) {
		box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
	}

	&.top {
		margin-bottom: 0em;
		border-bottom: none;
		border-radius: $segment-border-radius $segment-border-radius 0em 0em;
	}

	&.bottom {
		margin-top: 0em;
		border-top: none;
		border-radius: 0em 0em $segment-border-radius $segment-border-radius;
		// @extend .shadow-z-1;
	}

	&.tiny {
		font-size: 0.8571em;
	}

	&.small {
		font-size: 0.9285em;
	}

	&.large {
		font-size: 1.0714em;
	}

	&.huge {
		font-size: 1.1428em;
	}

	&:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
		font-size: 1em;
	}
}


/*-------------------
       Colors
--------------------*/

.header.contrast {
	background-color: $header-contrast-bg-color;
	color: $header-contrast-text-color;
	box-shadow: none;
}