@mixin icon-style($color: #fff, $background: $button-default-bg-color) {
	color: $color;
	background-color: $background;
}

/*-------------------
      Circular
--------------------*/

i.circular.icon {
  border-radius: 500em !important;
  padding: 0.5em 0.5em !important;
  box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
  line-height: 1 !important;
  width: 2em !important;
  height: 2em !important;
  text-align: center;

  &.facebook { @include icon-style(#fff, $facebook); }
  &.twitter { @include icon-style(#fff, $twitter); }
  &.google { @include icon-style(#fff, $google); }
  &.youtube { @include icon-style(#fff, $youtube); }
  &.instagram { @include icon-style(#fff, $instagram); }
  &.pinterest { @include icon-style(#fff, $pinterest); }
}

