// $input-group-icon-input-padding-top: 1px;
// $input-group-icon-input-padding-bottom: 4px;
// $input-group-icon-input-border-bottom-width: 1px;

// .input {
// 	position: relative;
// 	display: inline-block;

// 	&.block {
// 		display: block;
// 	}

// 	input {
// 		margin: 0em;
// 		width: 100%;
// 		outline: none;
// 		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
// 		text-align: left;
// 		line-height: 1.2142em;
// 		// font-family: "Helvetica Neue", "Helvetica", Arial;
// 		padding: 0.67861em 1em;
// 		// background: #ffffff;
// 		border: 1px solid rgba(0, 0, 0, 0.15);
// 		color: rgba(0, 0, 0, 0.8);
// 		border-radius: $base-radius;
// 		transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
// 		// box-shadow: none;

// 		// Placeholder
// 		&::-webkit-input-placeholder {
// 			color: rgba(0, 0, 0, 0.4);
// 		}
// 	}
// }


// /*******************************
//             States
// *******************************/

// /*--------------------
//         Active
// ---------------------*/

// .input input:active {
// 	border-color: rgba(0, 0, 0, 0.3);
// 	background: #fafafa;
// 	color: rgba(0, 0, 0, 0.8);
// 	box-shadow: none;
// }


// /*--------------------
//         Focus
// ---------------------*/

// .input input:focus {
// 	border-color: rgba(39, 41, 43, 0.3);
// 	background: '';
// 	color: rgba(0, 0, 0, 0.8);
// 	box-shadow: none;

// 	&input::-webkit-input-placeholder {
// 		color: rgba(0, 0, 0, 0.8);
// 	}
// }


// /*--------------------
//         Error
// ---------------------*/

// .input.error input {
// 	background-color: #fff0f0;
// 	border-color: #dbb1b1;
// 	color: #d95c5c;
// 	box-shadow: none;

// 	/* Error Placeholder */
// 	::-webkit-input-placeholder {
// 		color: rgba(255, 80, 80, 0.4);
// 	}

// 	/* Focused Error Placeholder */
// 	:focus::-webkit-input-placeholder {
// 		color: rgba(255, 80, 80, 0.7);
// 	}
// }


// /*******************************
//            Variations
// *******************************/

// /*--------------------
//       Transparent
// ---------------------*/

// .input.transparent {
// 	input {
// 		border-color: transparent;
// 		background-color: transparent;
// 		padding: 0em;
// 	}

// 	&.icon {
// 		> i {
// 			width: 1.25em;
// 		}

// 		> input {
// 			padding-left: 0em !important;
// 			padding-right: 2em !important;
// 		}
// 	}

// 	&[class*="left icon"] > input {
// 		padding-left: 0em !important;
// 		padding-left: 2em !important;
// 	}
// }


// /*--------------------
//          Icon
// ---------------------*/

// .input.icon {
// 	> .icon {
// 		cursor: default;
// 		position: absolute;
// 		text-align: center;
// 		top: 0px;
// 		right: 0px;
// 		margin: 0em;
// 		height: 100%;
// 		width: 2.82142em;
// 		opacity: 0.5;
// 		border-radius: 0em 0.2857rem 0.2857rem 0em;
// 		-webkit-transition: opacity 0.3s ease;
// 		transition: opacity 0.3s ease;

// 		&:before, &:after {
// 			left: 0;
// 			position: absolute;
// 			text-align: center;
// 			top: 50%;
// 			width: 100%;
// 			margin-top: -0.5em;
// 		}

// 		&.circular {
// 			top: 0.35em;
// 			right: 0.5em;
// 		}
// 	}

// 	input {
// 		padding-right: 2.82142em !important;
// 	}
// }

// /* Left Icon Input */
// .input[class*="left icon"] > .icon {
// 	right: auto;
// 	left: 1px;
// 	border-radius: 0.2857rem 0em 0em 0.2857rem;

// 	&.circular {
// 		right: auto;
// 		left: 0.5em;
// 	}

// 	> input {
// 		padding-left: 2.82142em !important;
// 		padding-right: 1em !important;

// 		&:focus ~ .icon {
// 			opacity: 1;
// 		}
// 	}
// }


// /*--------------------
//         Size
// ---------------------*/

// .input {
// 	@include sizes;
// }







// // .input-explanation {
// // 	font-size: 14px;
// // 	color: $gray;
// // 	line-height: $baseline;
// // }

// // .input-group {
// // 	position: relative;
// // 	height: $baseline;
// // 	margin-bottom: $baseline;

// // 	label, input {
// // 		line-height: $baseline;
// // 	}

// // 	label {
// // 		font-weight: normal;
// // 		margin-bottom: 0;
// // 	}

// // 	input {
// // 		height: $baseline;
// // 		width: 100%;
// // 		padding: {
// // 			top: $input-group-icon-input-padding-top;
// // 			right: 15px + ($gutter / 2);
// // 			bottom: $input-group-icon-input-padding-bottom;
// // 			left: 0;
// // 		}
// // 		border: 0;
// // 		border-bottom: 1px solid $gray;

// // 		&:focus {
// // 			outline: 0;
// // 			border-bottom-color: $brand-primary;
// // 			box-shadow: 0px 2px 3px -2px rgba($brand-primary,0.75);
// // 		}
// // 	}

// // }

// // .input-group-icon {
// // 	@include clearfix();

// // 	i {
// // 		position: absolute;
// // 		top: 0;
// // 		right: $gutter * .75;
// // 		line-height: $baseline;
// // 		color: $gray;
// // 	}
// // }