@mixin label-style($color, $background) {
	color: $color;
	background-color: $background;
	@include shadow-level(1);

	&:hover {
		color: $color;
		background-color: lighten($background, 5%);
	}

	&:active {
		color: $color;
		background-color: darken($background, 8%);
		box-shadow: none;
	}

	&.inverted {
		background-color: transparent;
		box-shadow: 0px 0px 0px 2px $background inset !important;
		color: $background;

		&:hover {
			color: #fff;
			background-color: $background;
		}

		&:active {
			color: #fff;
			background-color: darken($background, 8%);
			box-shadow: none;
		}
	}
}

/*******************************
						Label
*******************************/

.ui.label {
	display: inline-block;
	vertical-align: baseline;
	line-height: 1;
	margin: 0em 0.25em;
	background-color: $label-bg-color;
	padding: 0.6em 0.8em;
	color: $label-color;
	text-transform: none;
	font-weight: bold;
	border-radius: $base-radius;
	transition: background 0.2s ease;
	@include shadow-level(1);

	&:first-child {
		margin-left: 0em;
	}
	&:last-child {
		margin-right: 0em;
	}

	/* Inside Link */
	a {
		cursor: pointer;
		color: inherit;
		opacity: 0.8;
		transition: 0.2s opacity ease;
	}
	a:hover {
		opacity: 1;
	}

	.detail {
		display: inline-block;
		vertical-align: top;
		font-weight: bold;
		margin-left: 1em;
		opacity: 0.8;
	}

	.ui.label .detail .icon {
		margin: 0em 0.25em 0em 0em;
	}
}

/* Link */
a.ui.label {
	cursor: pointer;
}


/*******************************
						 States
*******************************/

/*-------------------
			Disabled
--------------------*/

.ui.label.disabled {
	opacity: 0.5;
}

/*-------------------
				Hover
--------------------*/

a.ui.label{
	&:hover {
		background-color: lighten($label-bg-color, 5%);
		color: $label-color-hover
	}

	&:active {
		background-color: darken($label-bg-color, 8%);
		color: $label-color-hover;
		box-shadow: none;
	}
}



/*******************************
						 Types
*******************************/

.ui.image.label {
	width: auto !important;
	margin-top: 0em;
	margin-bottom: 0em;
	max-width: 9999px;
	vertical-align: baseline;
	// text-transform: none;
	// background: #e8e8e8;
	padding: 0.6em 0.8em 0.6em 0.5em;
	// border-radius: $base-radius 0 0 $base-radius;
	// box-shadow: none;

	img {
		display: inline-block;
		vertical-align: top;
		height: 2.2em;
		margin: -0.6em 0.5em -0.6em -0.5em;
		border-radius: $base-radius 0 0 $base-radius;
	}
	.detail {
		background: rgba(0, 0, 0, 0.1);
		margin: -0.6em -0.8em -0.6em 0.5em;
		padding: 0.6em 0.8em;
		border-radius: 0em 0.2857rem 0.2857rem 0em;
	}
}

/*-------------------
				Sizes
--------------------*/

.ui.mini.label {
	font-size: 0.5625rem;
}
.ui.tiny.label {
	font-size: 0.625rem;
}
.ui.small.label {
	font-size: 0.6875rem;
}
.ui.label {
	font-size: 0.75rem;
}
.ui.large.label {
	font-size: 0.875rem;
}
.ui.big.label {
	font-size: 1rem;
}
.ui.huge.label {
	font-size: 1.125rem;
}
.ui.massive.label {
	font-size: 1.25rem;
}