/*******************************
            Standard
*******************************/


/*--------------
      Menu
---------------*/


/*--------------
      Items
---------------*/

.ui.menu .item {
  position: relative;
  display: inline-block;
  // padding: 0 1em;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  // -webkit-user-select: none;
  //    -moz-user-select: none;
  //     -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.2s ease, opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
          transition: color 0.2s ease, opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
}


/*******************************
             Types
*******************************/

/*---------------------
  Switcher Menu
-----------------------*/

.ui.tabnav.menu {
  padding: 0 $gutter;
  background-color: #fff;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);

  > .item {
    font-weight: bold;
    color: $switcher-menu-color;
    line-height: $line-height-base * 2;
    opacity: 0.8;
    margin: 0 1em;
    cursor: pointer;
    box-shadow: inset 0 -4px transparent;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  /* Hover */
  > .link.item:hover,
  > a.item:hover {
    opacity: 1;
    color: rgba(0, 0, 0, 0.8);
  }

  /* Pressed */
  > .link.item:active,
  > a.item:active {
    box-shadow: inset 0 -4px rgba($switcher-menu-shadow-color, 0.3);
  }

  /* Active */
  > .item.active {
    opacity: 1;
    box-shadow: inset 0 -4px rgba($switcher-menu-shadow-color, 0.8);
  }
}