.navbar-static-side {
	transition: $basic-transition;
	z-index: 101;
	position: absolute;
	width: $navbar-static-side-width;
}

.navbar-default {
	.nav > li > {
		a:hover {
			background-color: $nav-active-link-bg-color;
			color: $nav-active-link-text-color;
		}
	}
}

.nav {
	> li {
		> a {
			padding: ($baseline / 2) ($gutter / 2);
			font-size: $nav-link-size;
			color: $nav-link-color;
			font-weight: $nav-link-weight;

			> .nav-label {
				line-height: $baseline;
			}

			i {
				margin-right: .4em;

				&:first-child {
					width: 16px;
				}
			}
		}

		&.active {
			border-left: 4px solid $nav-active-link-border-color;
			transition: $basic-transition;

			> a {
				background-color: $nav-active-link-bg-color;
				color: $nav-active-link-text-color;
			}
		}
	}
}

.nav-header {
	height: $navbar-static-top-height;
	padding: ($baseline / 2) ($gutter / 2);

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.arrow {
	float: right;
	line-height: $baseline;
}

.fa.arrow:before {
	content: "\f104";
}

.active > a > .fa.arrow:before {
	content: "\f107";
}

.nav-second-level {
	li.active {
		border: none;
	}
	.collapse[style] {
		height: auto !important;
	}

	.collapse.collapse:not(.in) {
		visibility: hidden;
	}
}
.mini-navbar {
	.navbar-static-side {
		width: $navbar-static-side-width-collapsed;
	}

	.navbar-default .nav:not(.nav-second-level) > li > a {
		font-size: 16px;
	}

	.nav-header img, .nav-label, .nav li a span, .arrow {
		display: none;
	}

	.nav-second-level {
		display: none;
		position: absolute;
		left: $navbar-static-side-width-collapsed;
		top: 0px;
		width: 140px;
		background-color: $body-bg;

		li a {
			padding: 0 ($gutter / 4);
			font-size: 12px;
		}

		.nav-label {
			display: inline-block;
			line-height: $baseline * 2;
		}

		.fa {
			display: none;
		}
	}

	.active .nav-second-level {
		left: $navbar-static-side-width-collapsed - 4px;
	}

	.nav li.active:hover > .nav-second-level, .mini-navbar .nav li.active:focus > .nav-second-level {
		display: block;
		border-radius: 0 2px 2px 0;
		height: auto;
	}
}

@media (max-width: 768px) {
	.body-small .navbar-static-side {
		display: none;
		z-index: 1;
		position: absolute;
		width: 0px;
	}

	.body-small.mini-navbar .navbar-static-side {
		display: block;
		width: $navbar-static-side-width-collapsed;
	}
}