$navbar-font-size: 18px !default;

nav.navbar {
	@include shadow-level(1);
	background-color: $theme-color-primary;
	border: none;
	color: $theme-color-primary-contrast;

	.nav {
		// Default (link)
		> li {
			> a {
				color: $theme-color-primary-contrast;
				font-size: $navbar-font-size;
				line-height: 1;
				text-align: center;
				padding: (($navbar-height - $navbar-font-size) / 2) 0;

				&:hover,
				&:focus,
				.open {
					background-color: darken($theme-color-primary, 5%);
				}
			}

			&.active > a {
				color: $theme-color-primary;
				background-color: $theme-color-primary-contrast;
			}
		}

		// Button
		> li.button, li.avatar {
			padding: 6px 0;
			width: auto;

			> a {
				padding: (($navbar-height - $navbar-font-size - 12px) / 2) 8px;
				border-radius: $theme-border-radius;
			}
		}

		// Avatar
		> li.avatar > a {

			padding-left: 0;

			.image {
				position: absolute;
				top: 0;
				height: 32px;
				border-radius: 4px;
				border: 2px solid $theme-color-primary-contrast;
				overflow: hidden;

				img {
					max-height: 100%;
				}
			}

			.points {
				font-size: 16px;
				font-weight: 700;
				line-height: 1;
				margin-left: 40px;
			}
		}

		// Divider
		> li.divider {
			width: auto;
			height: $navbar-font-size;
			margin: (($navbar-height - $navbar-font-size) / 2) 8px;
			// padding:  0;
			border-left: 1px solid rgba($theme-color-primary-contrast, .6);
		}
	}
}

.navbar-mobile {
	@include clearfix();

	> li {
		float: left;
		width: 20%;
	}
}

.navbar-full {
	@include clearfix();
	display: none;

	.nav {
		margin: 0 8px;
		> li {
			width: $navbar-height;
		}
	}

	.navbar-nav.navbar-right:last-child {
		margin-right: 8px;
	}
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;
}

@media screen and (min-width: $screen-sm-min) {
	.navbar-mobile {
		display: none;
	}

	.navbar-full {
		display: block;
	}
}