/*******************************
            Segment
*******************************/

.segments {
	@include shadow-level(1);
}

.segment {
	position: relative;
	background-color: $segment-bg-color;
	margin: $segment-margin;
	padding: $segment-padding;
	border-radius: $segment-border-radius;
	border: none;

	&.wrapper {
		padding: 0;
	}

	&:first-child {
		// margin-top: 0;
	}

	&:last-child {
		// margin-bottom: 0;
	}

	&:after {
		content: '';
		display: block;
		height: 0px;
		clear: both;
		visibility: hidden;
	}
}

/* Vertical */
[class*="vertical segment"] {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
	border-radius: 0;
	border: none;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		box-shadow: none;
	}
}

/*-------------------
    Loose Coupling
--------------------*/

/* Label */
[class*="bottom attached"].segment > [class*="top attached"].label {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
[class*="top attached"].segment > [class*="bottom attached"].label {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.attached.segment:not(.top):not(.bottom) > [class*="top attached"].label {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.attached.segment:not(.top):not(.bottom) > [class*="bottom attached"].label {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/*--------------
		Loading
---------------*/

.segment.loading {
	position: relative;
	cursor: default;
	point-events: none;
	text-shadow: none !important;
	color: transparent !important;
	-webkit-transition: all 0s linear;
	transition: all 0s linear;

	&:before {
		position: absolute;
		content: '';
		top: 0%;
		left: 0%;
		background: rgba(255, 255, 255, 0.8);
		width: 100%;
		height: 100%;
		border-radius: $segment-border-radius;
		z-index: 100;
	}

	&:after {
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		margin: -1.5em 0em 0em -1.5em;
		width: 3em;
		height: 3em;
		-webkit-animation: segment-spin 0.6s linear;
		animation: segment-spin 0.6s linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		border-radius: 500rem;
		border-color: #aaaaaa rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
		border-style: solid;
		border-width: 0.2em;
		box-shadow: 0px 0px 0px 1px transparent;
		visibility: visible;
		z-index: 101;
	}
}

@-webkit-keyframes segment-spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes segment-spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/*******************************
           Variations
*******************************/

/*-------------------
      Attached
--------------------*/

.segment.attached {
	top: 0px;
	bottom: 0px;
	margin: 0rem;
	border-radius: 0px;

	&:not(.top) {
		// border-top: none;
	}

	&:not(.bottom) {
		box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
	}
}

/* Top */
.segment[class*="top attached"] {
	top: 0px;
	bottom: 0px;
	margin-top: 1rem;
	margin-bottom: 0em;
	border-radius: $segment-border-radius $segment-border-radius 0em 0em;
}
.segment[class*="top attached"]:first-child {
	margin-top: 0em;
}

/* Bottom */
.segment[class*="bottom attached"] {
	top: 0px;
	bottom: 0px;
	margin-top: 0em;
	margin-bottom: 1rem;
	// box-shadow: none, 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
	border-radius: 0em 0em $segment-border-radius $segment-border-radius;
}
.segment[class*="bottom attached"]:last-child {
	margin-bottom: 0em;
}