@mixin statistic-sizes() {
  &.mini {
    .value { font-size: $statistic-font-size-mini; }
    .label { font-size: $font-size-small; }
  }
  &.tiny {
    .value { font-size: $statistic-font-size-tiny; }
    .label { font-size: $font-size-small; }
  }
  &.small {
    .value { font-size: $statistic-font-size-small; }
    .label { font-size: $font-size-small; }
  }
  &.large {
    .value { font-size: $statistic-font-size-large; }
  }
  &.big {
    .value { font-size: $statistic-font-size-big; }
  }
  &.huge {
    .value { font-size: $statistic-font-size-huge; }
  }
  &.massive {
    .value { font-size: $statistic-font-size-massive; }
  }
}

/*******************************
           Statistic
*******************************/


/* Standalone */
.ui.statistic {
  display: inline-block;
  margin: 1em 0em;
  width: 100%;
}
.ui.statistic + .ui.statistic {
  // margin: 0em 0em 0em 1em;
}
.ui.statistic:first-child {
  // margin-top: 0em;
}
.ui.statistic:last-child {
  // margin-bottom: 0em;
}

/* Grouped */
// .ui.statistics > .statistic {
//   display: block;
//   float: left;
//   margin: 0em 1em 2em;
//   max-width: 175px;
// }


/*******************************
            Content
*******************************/

/*--------------
      Value
---------------*/

.ui.statistic {
  @include statistic-sizes();

  > .value {
    // font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: $statistic-font-size-base;
    font-weight: normal;
    line-height: 1em;
    color: $statistic-color;
    text-transform: uppercase;
    text-align: center;


  }
}


/*--------------
     Label
---------------*/

.ui.statistic > .label {
  // font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: $statistic-subtle-color;
  text-transform: none;
  text-align: center;
}

/* Top Label */
.ui.statistic > .label ~ .value {
  margin-top: 0rem;
}

/* Bottom Label */
.ui.statistic > .value ~ .label {
  margin-top: 0.25rem;
}