table.table-hover > tbody > tr > td {
	cursor: pointer;
}

table.user {
	.table-item-wrapper {

	}

	.table-item {

	}
}

table.users {
	> tbody > tr {
		cursor: pointer;

		> td {
			padding-left: 0;
			padding-right: 0;
			// line-height: 2em;
		}
	}

	.user-details {
		margin-left: 60px;
	}

	.table-item-section  {
		display: inline-block;
	}

	.avatar {
		width: 50px;
		border-radius: 10em;
		float: left;
	}

	.activity {
		font-size: $font-size-tiny;
		color: $text-color-subtle;
	}

	.statistic {
		margin: 0;
		text-align: center;

		> .value {
			font-size: 1rem;
		}

		> .label {
			font-size: $font-size-tiny;
			color: $text-color-subtle;
		}
	}
}