<div class="profilebar">
	<div class="profilebar-header">
		<div class="wrapper">
			<img class="image" src="http://placehold.it/214x80" alt="">
		</div>
	</div>
	<div class="text-center">
		<button class="primary-contrast inverted button">Login</button>
	</div>
</div>