<div class="profilebar">
	<div class="profilebar-header">
		<div class="wrapper">
			<img class="image" src="http://placehold.it/214x80" alt="">
			<div class="circular image profilebar-avatar">
				<img src="https://randomuser.me/api/portraits/med/women/89.jpg" alt="">
			</div>
		</div>
		<h4 class="profilebar-name">Jane</h4>
	</div>
	<ul class="profilebar-stats">
		<li class="statistic">
			<div class="value">14</div>
			<div class="label">Badges</div>
		</li>
		<li class="statistic">
			<div class="value">7380</div>
			<div class="label">Hearts</div>
		</li>
		<li class="statistic">
			<div class="value">26</div>
			<div class="label">Friends</div>
		</li>
	</ul>
	<section class="profilebar-friends">
		<h5 class="text-center"><strong>Friends</strong></h5>
		<ul class="list-unstyled">
			<li>
				<img src="https://randomuser.me/api/portraits/med/women/89.jpg" alt="" class="avatar image">
				<div class="name">Lisa</div>
				<div class="points">18500</div>
			</li>
			<li>
				<img src="https://randomuser.me/api/portraits/med/women/89.jpg" alt="" class="avatar image">
				<div class="name">Maria</div>
				<div class="points">12300<div>
			</li>
			<li>
				<img src="https://randomuser.me/api/portraits/med/women/89.jpg" alt="" class="avatar image">
				<div class="name">Me</div>
				<div class="points">7380</div>
			</li>
			<li>
				<img src="https://randomuser.me/api/portraits/med/women/89.jpg" alt="" class="avatar image">
				<div class="name">Peter</div>
				<div class="points">6950</div>
			</li>
		</ul>
		<div class="profilebar-link">
			<a href="#">show all friends</a>
		</div>
		<div class="text-center">
			<button class="primary-contrast inverted button">invite more friends</button>
		</div>
	</section>
	<section class="profilebar-progress">
		<h5 class="text-center"><strong>Next available reward</strong></h5>
		<div class="circular progress">
			<div class="bar">
				<div class="bar-sizer">
					<div id="profilebar-progress"></div>
					<div class="circular image">
						<img src="http://placehold.it/60x60" alt="">
					</div>
				</div>
			</div>
			<div class="label">
				<h4>50€ Coupon</h4>
			</div>
		</div>
		<div class="profilebar-link">
			<a href="#">show all rewards</a>
		</div>
	</section>
</div>