$layout-profilebar-width: 214px;

html, body {
	// height: 100%;
	// overflow: hidden;
	// padding: 0 !important;
}

#profilebar-region > div {
	height: 100%;
}

body {
	padding-top: 0 !important;
	overflow-x: hidden;
}

#navbar-region, #main-region, #profilebar-region {
	transition: transform .2s ease;
}

#navbar-region {
	z-index: 1030;
	@include fixed($top: 0, $right: 0, $left: 0);
	width: 100%;
	transform: translateX(0px);
}

#profilebar-region {
	z-index: 1020;
	@include fixed($top: $navbar-height, $bottom: 0, $left: 0);
	transform: translateX(-$layout-profilebar-width);
	width: $layout-profilebar-width;
	overflow: hidden;
}

#profilebar-closer {
	z-index: 1000;
	@include fixed($top: 0, $right: 0, $bottom: 0, $left: 0);
	background-color: rgba(white, .5);
}

#main-menu-region {
	z-index: 1010;
	@include fixed($top: $navbar-height, $right: 0 , $bottom: 0 , $left: 0);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s ease, opacity .3s ease;
}

#main-region {
	transform: translateX(0px);
	margin-top: $navbar-height;
	padding-top: $line-height-computed;
}

body.show-profile {
	#main-region {
		transform: translateX($layout-profilebar-width);
	}

	#profilebar-region {
		transform: translateX(0px);
	}
}

body.show-main-menu #main-menu-region {
	visibility: visible;
	opacity: 1;
}

@media (min-width: $screen-sm-min) {
	#profilebar-region {
		top: 0;
	}

	body.show-profile {
		#navbar-region {
			transform: translateX($layout-profilebar-width);
		}
	}
}

@media screen and (min-width: $screen-md-min) {
	#navbar-region, #main-region, #main-menu-region {
		padding-left: $layout-profilebar-width;
	}

	#profilebar-region {
		transform: translateX(0px);
	}
}