ul.tile-grid {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 10px;
    padding: 0 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  ul.tile-grid > li {
    float: left;

    &:nth-child(3n+2), &:nth-child(3n+3) {
      width: 50%;
    }
  }
}

@media screen and (min-width: 768px) {
  ul.tile-grid {
    width: 748px;
    margin: 0 auto;

  > li {
      margin: 0 10px 20px;
      padding: 0;


      &:nth-child(6n+1) {
        float: left;
      }
      &:nth-child(6n+2) {
        float: right;
      }
      &:nth-child(6n+3) {
        float: right;
        clear: right;
      }
      &:nth-child(6n+4) {
        float: right;
      }
      &:nth-child(6n+5) {
        clear: left;
      }
      &:nth-child(3n+1) {
        width: 485px;
        height: 253px;
      }
      &:nth-child(3n+2), &:nth-child(3n+3) {
        width: 223px;
        height: 116.5px;
      }

      .tile-inside {
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 810px) {
  ul.tile-grid {
    width: 790px;

    > li {
      &:nth-child(3n+1) {
        width: 513px;
        height: 268px;
      }

      &:nth-child(3n+2), &:nth-child(3n+3) {
        width: 237px;
        height: 124px;
      }
    }
  }
}