<div class="container-fluid">
	<ul class="modules">
		<li class="module">
			<div class="module-seperator"></div>
			<div class="module-content">
				<div class="boxed image">
					<img src="http://placehold.it/1200x627" alt="">
				</div>
			</div>
		</li>
		<li class="module">
			<div class="module-seperator"></div>
			<div class="module-content">
				<div class="wrapper radius shadow-z1 padding">
					<h1>Title</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</li>
		<li class="module">
			<div class="module-seperator"></div>
			<div class="module-content">
				<div class="wrapper">
					<h1>Share Buttons</h1>
					<button class="inverted primary compact narrow right floated button"><i class="fa fa-share-square"></i>share</button>
				</div>
			</div>
		</li>
		<li class="module">
			<div class="module-seperator"></div>
			<div class="module-content">
				<ul class="block-grid-sm-2 block-grid-md-3">
					<li>
						<div class="card">
							<div class="image">
								<img src="http://placehold.it/1200x627" alt="">
							</div>
							<div class="content">
								<strong class="subtle">167 Votes</strong>
								<button class="inverted primary compact narrow right floated button"><i class="fa fa-share-square"></i>share</button>
							</div>
							<div class="bottom attached primary button">
								Vote
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<div class="image">
								<img src="http://placehold.it/1200x627" alt="">
							</div>
							<div class="content">
								<strong class="subtle">167 Votes</strong>
								<button class="inverted primary compact narrow right floated button"><i class="fa fa-share-square"></i>share</button>
							</div>
							<div class="bottom attached primary button">
								Vote
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<div class="image">
								<img src="http://placehold.it/1200x627" alt="">
							</div>
							<div class="content">
								<strong class="subtle">167 Votes</strong>
								<button class="inverted primary compact narrow right floated button"><i class="fa fa-share-square"></i>share</button>
							</div>
							<div class="bottom attached primary button">
								Vote
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<div class="image">
								<img src="http://placehold.it/1200x627" alt="">
							</div>
							<div class="content">
								<strong class="subtle">167 Votes</strong>
								<button class="inverted primary compact narrow right floated button"><i class="fa fa-share-square"></i>share</button>
							</div>
							<div class="bottom attached primary button">
								Vote
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<div class="image">
								<img src="http://placehold.it/1200x627" alt="">
							</div>
							<div class="content">
								<strong class="subtle">167 Votes</strong>
								<button class="inverted primary compact narrow right floated button"><i class="fa fa-share-square"></i>share</button>
							</div>
							<div class="bottom attached primary button">
								Vote
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<div class="image">
								<img src="http://placehold.it/1200x627" alt="">
							</div>
							<div class="content">
								<strong class="subtle">167 Votes</strong>
								<button class="inverted primary compact narrow right floated button"><i class="fa fa-share-square"></i>share</button>
							</div>
							<div class="bottom attached primary button">
								Vote
							</div>
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>