$button-margin: 0.25em !default;

/*******************************
            Button Mixins
*******************************/

@mixin button-inverted($background, $shadow: false) {
  color: $background;
  background-color: transparent;

  @if $shadow != false {
    @include box-shadow($shadow, 0px 0px 0px 2px $background inset !important);
  } @else {
    @include box-shadow(0px 0px 0px 2px $background inset !important);
  }


  &:hover, &:active {
    background-color: $background;
    @if lightness($background) > 50 {
      color: black;
    } @else {
      color: white
    }
  }

  &:active {
    @include box-shadow(0px 0px 0px 2px $background inset !important);
  }
}

@mixin button-style($background, $color, $shadow: false) {
  @if $color {
    color: $color;
  } @elseif lightness($background) > 50 {
    color: black;
  } @else {
    color: white
  }
  color: $color;
  background-color: $background;
  @if $shadow != false {
    @include box-shadow($shadow);
  }

  &:hover {
    color: $color;
    background-color: lighten($background, 5%);
  }

  &:active {
    color: $color;
    background-color: darken($background, 8%);
    box-shadow: none;
  }

  &.inverted {
    @include button-inverted($background, $shadow);
  }
}

@mixin button-block {
  display: block;
  width: 100%;
}

@mixin button-compact () {
  padding: $button-compact-padding-vertical $button-compact-padding-horizontal $button-compact-padding-vertical;

  &.icon {
    padding: $button-compact-padding-vertical $button-compact-padding-vertical $button-compact-padding-vertical;
  }
}

@mixin button-narrow () {
  padding-left: $button-base-padding-vertical;
  padding-right: $button-base-padding-vertical;

  &.compact {
    padding-left: $button-compact-padding-vertical;
    padding-right: $button-compact-padding-vertical;
  }
}

/*******************************
            Button
*******************************/

.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  @include button-style($button-default-bg-color, $button-default-color);
  font-family: $button-font-family;
  margin: 0em $button-margin 0em 0em;
  padding: $button-base-padding-vertical $button-base-padding-horizontal $button-base-padding-vertical;
  text-transform: none;
  text-shadow: none;
  font-weight: $button-font-weight;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: none;
  border-radius: $button-border-radius;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  -webkit-tap-highlight-color: transparent;
}


/*-------------------
  Disabled
--------------------*/

.button {
  &.disabled, &.disabled:hover, &.disabled:active {
    @include button-style(
      $color: rgba(0, 0, 0, 0.5),
      $background: #dcddde,
      $shadow: none
    );
    cursor: default;
    opacity: 0.3 !important;
    background-image: none !important;
    pointer-events: none;
  }
}


/*-------------------
  Block
--------------------*/

.button {
  &.block {
    @include button-block();
  }
}


/*******************************
             Types
*******************************/

/*-------------------
  Colors
--------------------*/

.button {
  &.primary { @include button-style($theme-color-primary, #fff); }
  &.primary-contrast { @include button-style($theme-color-primary-contrast, #fff); }
  // &.primary { @include button-style($brand-primary, #fff); }
  // &.success { @include button-style($brand-success, #fff); }
  // &.info { @include button-style($brand-info, #fff); }
  // &.warning { @include button-style($brand-warning, #fff); }
  // &.danger { @include button-style($brand-danger, #fff); }
}


/*-------------------
  Social
--------------------*/

.button {
  &.facebook { @include button-style($facebook, #fff); }
  // &.twitter { @include button-style($twitter, #fff); }
  // &.google { @include button-style($google, #fff); }
  // &.youtube { @include button-style($youtube, #fff); }
  // &.instagram { @include button-style($instagram, #fff); }
  // &.pinterest { @include button-style($pinterest, #fff); }
  // &.rss { @include button-style($rss, #fff); }
}

/*--------------
  Icon
---------------*/

.button {
  > .icon, > .fa {
    // opacity: 0.9;
    margin: 0em 0.4em 0em 0em;
    transition: opacity 0.2s ease;
    vertical-align: baseline;
    // color: '';

    &.right {
      margin: 0em 0em 0em 0.4em;
    }
  }
}


/*******************************
           Variations
*******************************/


/*-------------------
  Floated
--------------------*/

.button {
  &[class*="left floated"] {
    float: left;
    margin-left: 0em;
    margin-right: $button-margin;
  }

  &[class*="right floated"] {
    float: right;
    margin-right: 0em;
    margin-left: $button-margin;
  }
}


/*-------------------
  Compact
--------------------*/

.button.compact {
  @include button-compact();
}


/*-------------------
  Narrow
--------------------*/

.button.narrow {
  @include button-narrow();
}


/*-------------------
  Sizes
--------------------*/

.button {
  @include sizes;
}


/*-------------------
  Icon Only
--------------------*/

.button.icon {
  padding: $padding-base-vertical;

  > .icon, > .fa {
    // opacity: 0.9;
    margin: 0em;
    vertical-align: top;
  }
}


/*-------------------
  Circular
--------------------*/

.button.circular {
  border-radius: 10em;

  > .icon, > .fa {
    width: 1em;
    vertical-align: baseline;
  }
}


/*--------------
  Attached
---------------*/

.button.attached {
  display: block;
  margin: 0em;
  border-radius: 0em;

  &.top {
    border-radius: $base-radius $base-radius 0em 0em;
  }

  &.bottom {
    border-radius: 0em 0em $base-radius $base-radius;
  }

  &.left {
    display: inline-block;
    padding-right: $padding-base-vertical;
    text-align: right;
    border-radius: $base-radius 0em 0em $base-radius;
  }

  &.right {
    display: inline-block;
    padding-left: $padding-base-vertical;
    text-align: left;
    border-radius: 0em $base-radius $base-radius 0em;
  }
}


/*******************************
  Specials
*******************************/

.share-button {
  font-size: $font-size-tiny;
  @include button-style($theme-color-primary, white, $shadow-z1);
  @include button-compact();
  @include button-narrow();
}