$card-vertical-padding: 10px !default;
$card-horizontal-padding: 20px !default;

$card-color: #444 !default;
$card-background: white !default;
$card-radius: false !default;
$card-shadow: false !default;

$card-header-color: $card-color !default;
$card-header-font-size: 14px !default;
$card-header-font-weight: bold !default;
$card-header-contrast-font-color: white !default;
$card-header-contrast-text-shadow: rgba(0, 0, 0, .8) .5px .5px !default;

$card-meta-font-size: 12px !default;
$card-meta-font-weight: bold !default;
$card-meta-color: #717171 !default;

$card-extra-font-size: 12px !default;
$card-extra-font-weight: bold !default;
$card-extra-color: #717171 !default;


@mixin card-image-blur($value: 3) {
  filter: url(../img/blur.svg#blur);
  -webkit-filter: blur(#{$value + 'px'});
  -moz-filter: blur(#{$value + 'px'});
  -ms-filter: blur(#{$value + 'px'});
  filter: blur(#{$value + 'px'});
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='$value');
}

@mixin card-radius($radius: false) {
  @if $radius {
    $border-radius: $base-radius;
    @if unit($radius) == 'px' {
      $border-radius: $radius;
    }

    @include border-radius($border-radius);

    > :first-child {
      @include border-top-radius($border-radius);
    }

    > :last-child {
      @include border-bottom-radius($border-radius);
    }
  }
}

@mixin card-shadow($shadow: false) {
  @if $shadow != false {
    @include box-shadow($shadow);
  }
}

/*******************************
            Standard
*******************************/


/*--------------
  Card
---------------*/

.card {
  @include card-radius($card-radius);
  @include card-shadow($card-shadow);

  background: $card-background;
  color: $card-color;
  display: block;
  min-height: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;

  a {
    cursor: pointer;
  }
}


/*--------------
  Image
---------------*/

.card {
  > .image {
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;

    > img {
      display: block;
      height: auto;
      // min-height: 5rem;
      @include transition(-webkit-filter .3s);
      width: 100%;
    }
  }

  &:hover > .image > img.hover-effect {
    @include card-image-blur(2);
  }
}

// Image Content & Overlay
.card {
  > .image {
     > .overlay {
      @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
      background-color: rgba(black, .6);
      cursor: default;
      opacity: 0;
      // @include transition(opacity .3s ease);
      visibility: hidden;
    }

    > :not(.overlay) {
      // @include transition(opacity .3s ease);
    }
  }

  &:hover > .image {
    .overlay + :not(.overlay) {
      opacity: 0;
      visibility: hidden;
    }

    .overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Image Content Header
.card > .image > .header-wrapper {
  overflow: hidden;

  &.top {
    @include absolute($top: 0, $right: 0, $left: 0);

    > img {
      @include absolute($top: 0);
    }
  }

  &.bottom {
    @include absolute($right: 0, $bottom: 0, $left: 0);

    > img {
      @include absolute($bottom: 0);
    }
  }

  > .header {
    background: rgba(black, .5);
    color: $card-header-contrast-font-color !important;
    font-size: $card-header-font-size;
    padding: $card-vertical-padding $card-horizontal-padding;
    position: relative;
    text-shadow: $card-header-contrast-text-shadow !important;
    z-index: 1;
  }

  > img {
    @include card-image-blur(2);

    width: 100%;
    z-index: 0;
  }
}

// .cssgradients .card > .image > .header-wrapper .header {
//   padding-top: $card-vertical-padding + 15px;

//   background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 15px, rgba(0,0,0,0.4) 100%);
//   background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 15px,rgba(0,0,0,0.4) 100%);
//   background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 15px,rgba(0,0,0,0.4) 100%);
//   background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 15px,rgba(0,0,0,0.4) 100%);
//   background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 15px,rgba(0,0,0,0.4) 100%);
// }


/*--------------
  Content
---------------*/

.card {
  > .content {
    @include clearfix();

    padding: $card-vertical-padding $card-horizontal-padding;

    > .header {
      display: block;
      margin: 0;
    }
  }
}

/*--------------
  Header
---------------*/
.card > .content > .header {
  color: $card-header-color;
  font-weight: $card-header-font-weight;

  &:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: $card-header-font-size;
  }
}

/*--------------
  Description
---------------*/
.card > .content > .description {
  color: #222;
}

/*--------------
  Meta
---------------*/

.card  > .content > .meta {
  color: $card-meta-color;
  font-size: $card-meta-font-size;
  font-weight: $card-meta-font-weight;

  * {
    margin-right: 0.4em;
  }

  &:last-child {
    margin-right: 0;
  }

  [class*="right floated"] {
    margin-left: 0.4em;
    margin-right: 0em;
  }
}

/*----------------
  Extra Content
-----------------*/

.card > .extra {
  @include box-shadow(0px -1px 0px rgba(0, 0, 0, 0.15));
  color: $card-extra-color;
  font-size: $card-extra-font-size;
  font-weight: $card-extra-font-weight;
  overflow: hidden;

  * {
    margin-right: 0.75em;
  }

  &:last-child {
    margin-right: 0;
  }

  [class*="right floated"] {
    float: right;
    margin-left: 0.75em;
    margin-right: 0em;
  }

  .reward {
    @extend .theme-text-primary;
  }
}


/*--------------
  Button
---------------*/
.card {
  > .button:last-child {
    font-size: 16px;
    font-weight: bold;
  }
}
// .card {
//   > .button:first-child,
//   > .button:last-child {
//   width: 100%;
//   box-shadow: none;
// }}

a.flat.card {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .flat.card {
    border: 1px solid grey;
    border-radius: 0;
    box-shadow: none;
    @include clearfix();

    > :first-child, > :last-child {
      border-radius: 0;
    }

    > img {
      float: left;
      max-height: 160px;
    }

    .content {
      overflow: hidden;
      margin-right: 30px;
    }

    .indicator {
      @include absolute($top: 0, $right: 0, $bottom: 0);
      height: 100%;
      width: 30px;
      background-color: $theme-color-primary;
      border-left: 3px solid darken($theme-color-primary, 20%);

      > i {
        @include absolute($top: 50%, $left: 50%);
        transform: translate(-50%, -50%);
        line-height: 1;
        color: $theme-color-primary-contrast;
      }
    }

    .share-button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}