/*******************************
             Image
*******************************/


/*******************************
             Image Mixins
*******************************/

.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;

  &img {
  display: block;
  background: none;
  }

  img {
  display: block;
  max-width: 100%;
  height: auto;
  }
}


/*******************************
            States
*******************************/

.disabled.image {
  cursor: default;
  opacity: 0.3;
}


/*******************************
          Variations
*******************************/

/*--------------
    Circular
---------------*/

.circular.image {
  overflow: hidden;
}

.circular.image img,
.circular.image {
  border-radius: 500rem;
}

/*--------------
     Avatar
---------------*/

.avatar.image img,
.avatar.image {
  margin-right: 0.25em;
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 500rem;
}

/*--------------
     Boxed
---------------*/

.boxed.image img,
.boxed.image {
  @include wrapper(
    $background: white,
    $radius: $base-radius,
    $shadow: $shadow-z1
  );
}