/*******************************
            List
*******************************/

ul.list,
ol.list {
	list-style-type: none;
	margin: $line-height-computed / 2 0;
	padding: 0;

	&:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}


/*******************************
            Content
*******************************/

/* List Item */
ul.ui.list li,
ol.ui.list li {

}