/*******************************
            Progress
*******************************/

.circular.progress {
	// table-layout: fixed;
	display: table;
	margin: $line-height-computed / 2 0;
	width: 100%;

	.bar, .label {
		display: table-cell;
	}

	.bar-sizer {
		position: relative;
		width: 60px;
		height: 60px;
	}

	.bar .image {
		overflow: hidden;
		@include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
		margin: 4px;
	}

	.label {
		width: 100%;
		vertical-align: middle;
		padding-left: $padding-small-horizontal;
		font-weight: bold;
	}
}