/*******************************
           Statistic
*******************************/

.wrapper {
	display: block;
	position: relative;
	width: 100%;
}

/*--------------
	Shadow
---------------*/
@mixin wrapper-shadow() {
	&.shadow-z1 { @include box-shadow($shadow-z1); }
	&.shadow-z2 { @include box-shadow($shadow-z2); }
	&.shadow-z3 { @include box-shadow($shadow-z3); }
	&.shadow-z4 { @include box-shadow($shadow-z4); }
	&.shadow-z5 { @include box-shadow($shadow-z5); }
}

/*--------------
	Padding
---------------*/

@mixin wrapper-padding() {
	&.padding { padding: 15px; }
	&.padding-sm { padding: 10px; }
	&.padding-lg { padding: 20px; }
}

/*--------------
	Radius
---------------*/

@mixin wrapper-radius() {
	&.radius { border-radius: 4px; }
	&.radius-sm { border-radius: 2px; }
	&.radius-lg { border-radius: 6px; }
}

.wrapper {
	@include wrapper-shadow();
	@include wrapper-padding();
	@include wrapper-radius();
}